---
name: autofix.ci
on: pull_request
permissions: {}
jobs:
  path-filter:
    # Get changed files to filter jobs
    timeout-minutes: 10
    outputs:
      update-aqua-checksums: ${{steps.changes.outputs.update-aqua-checksums}}
      go-mod-tidy: ${{steps.changes.outputs.go-mod-tidy}}
      gofumpt: ${{steps.changes.outputs.gofumpt}}
      gofumpt_files: ${{steps.changes.outputs.gofumpt_files}}
    runs-on: ubuntu-24.04
    permissions: {}
    steps:
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          list-files: shell
          filters: |
            update-aqua-checksums:
              - aqua/aqua.yaml
              - aqua/imports/*.yaml
              - aqua/aqua-checksums.json
              - .github/workflows/autofix.yaml
              - .github/workflows/wc-update-aqua-checksums.yaml
            go-mod-tidy:
              - go.mod
              - go.sum
              - "**.go"
              - .github/workflows/autofix.yaml
              - .github/workflows/wc-go-mod-tidy.yaml
            gofumpt:
              - "**.go"
              - .github/workflows/autofix.yaml
              - .github/workflows/wc-gofumpt.yaml

  autofix-status-check:
    # This job is used for main branch's branch protection rule's status check.
    # If all dependent jobs succeed or are skipped this job succeeds.
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions: {}
    if: failure()
    steps:
      - run: exit 1
    needs:
      - update-aqua-checksums
      - go-mod-tidy
      - gofumpt

  update-aqua-checksums:
    uses: ./.github/workflows/wc-update-aqua-checksums.yaml
    needs: path-filter
    if: needs.path-filter.outputs.update-aqua-checksums == 'true'
    permissions: {}

  go-mod-tidy:
    uses: ./.github/workflows/wc-go-mod-tidy.yaml
    needs: path-filter
    if: needs.path-filter.outputs.go-mod-tidy == 'true'
    permissions: {}

  gofumpt:
    uses: ./.github/workflows/wc-gofumpt.yaml
    needs: path-filter
    if: needs.path-filter.outputs.gofumpt == 'true'
    permissions: {}
    with:
      files: ${{needs.path-filter.outputs.gofumpt_files}}
